<ion-header>
  <ion-toolbar>
    <ion-title>
      Weather Forecast
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="forecastData">
    <h1>Forecast Data</h1>
    <ul>
      <li *ngFor="let forecast of forecastData">{{ forecast.base }}</li>
      <!-- <p>Temperature: {{ forecast.base }}°C</p> -->
    </ul>
  </div>
  <!-- <ion-list *ngIf="forecastData">
    <ion-item *ngFor="let forecast of forecastData">
      <ion-icon [name]="forecast.iconName"></ion-icon>
      <ion-label>
        <h2>{{ forecast.name }}</h2>
        <p>Temperature: {{ forecast.weather[0].description }}°C</p>
        <p>Description: {{ forecast.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>

<!-- https://api.openweathermap.org/data/3.0/onecall?lat=33.44&lon=-94.04&appid={c2f0a16732f911f0bb7123d1ecc76f57} -->
