<ion-header>
  <ion-toolbar>
    <ion-title>
      Current Weather
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- City Input Field -->
  <ion-item>
    <ion-label position="floating">Enter City Name</ion-label>
    <ion-input [(ngModel)]="cityName" (ionChange)="onCityNameChange()"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="searchWeather()">Search</ion-button>

  <ion-card *ngIf="weatherData">
    <ion-card-header>
      Current Weather
    </ion-card-header>
    <ion-card-content>
      <ion-icon [name]="weatherData.iconName"></ion-icon>
      <p>Temperature: {{ weatherData.temperature }}°C</p>
      <p>Description: {{ weatherData.description }}</p>
      
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="errorMessage">
    <ion-card-content>
      <ion-text color="danger">
        {{ errorMessage }}
      </ion-text>
    </ion-card-content>
  </ion-card>
  
</ion-content>




